html,*::before,*::after {
	box-sizing: content-box;
	font-size: 1rem;
}
.message{
	font-weight: 900;
	color: blue;
	word-spacing: 0px;
	opacity: 0.9;
	text-transform: uppercase;
	transform: scale(1.1);
}